body{background-image:url(free-technology-abstract-vector-backgrounds-1.jpg);}
.name{background:gray;
      padding-top:100px;padding-left:100px;padding-bottom:50px;padding-right:100px;margin-top:50px;margin-right:100px;margin-bottom;50px:margin-left:40px;
     border:6px; yellow;
     width:165px;
     height:200px;font-size:}
.fya{background:darkgray;padding-top:40px;padding-left:50px;padding-bottom:30px;padding-right:50px;font-family: 'Rubik', sans-serif;color: black}

  }
@import url('https://fonts.googleapis.com/css2?family=Odor+Mean+Chey&display=swap');

  


.aaz{background:grey;  padding-top:100px;padding-left:100px;padding-bottom:50px;padding-right:100px;margin:10px max-width:50%;margin-auto;}
.zikra
img{border-radius:50%;margin-top:50%;padding-top:50px;padding-left:40px;padding-bottom:50px;padding-right:30px;text-align:center;}
.dinda{color:yellow;} 
.putri{background:grey;}
.aura{background:grey;}
.dwi{font-family: 'Raleway', sans-serif;}